@import url("../../TQEditor.css");

.eEditor{ border-color:#00c; background:#fff; }
.eEditorClient{border-top-color:#00c;background:#fff;}

.eToolBar{background:#E1E1FF;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#E1E1FF,gradientType=0);
background:linear-gradient(180deg, #ffffff, #E1E1FF);
}
.eButton,.eButtonUp,.eButtonDown,.eButtonDropDown{background-image:url(../../icon.gif); }
.eButtonUp,li.eButton:hover{border-color:#00c;}
.eButtonDown,li.eButton:active,.eButtonDropDown:active{border-color:#00c;}
.eButtonDropDown{border-color:#00c;margin:0;}

.eBtn{background-color:#E8E8FF; background-image:url(../../btnBg.gif); }
.eMenuItem,.eMenuItemUp{
	color: #000;
}
.eMenuItemUp,.eMenuItem:hover{ background-color:#F7F7FF; border-color:#00c; }
.ePopPanel{
	background-color:#E1E1FF;
	border-color:#00c;
	color: #000;
	box-shadow:3px 3px 3px #006;
	-webkit-box-shadow:3px 3px 3px #006;
	-moz-box-shadow:3px 3px 3px #006;
}
.ePopPanel a{color: #00f;}

.eTabBar{
	border-bottom-color: #00c;
	background:#fff;
}
.eTabBar a{
	color: #003;
}
.eTabBar a.active{
	border-top-color:#00c;
	border-right-color:#00c;
	border-left-color: #00c;
	background: #E1E1FF;
}
.eFace img:hover,.eFace img.imgHover{border-color:#00c;background-color:#fff;}
.eStatusBar{
	background-color:#E1E1FF;
	border-top-color:#00c;
}
